body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}
h1 {
  line-height: 2;
  font-size: 5.625rem;
  color: #051111;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #051111;
  font-weight: normal;
  padding-bottom: 10px;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: ##051111;
}
p {
  line-height: 2;
}
hr {
  border: dotted #eaf6f6 6px;
  border-bottom: 0ch;
  width: 4%;
  margin: 100px auto;
}
a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #eaf6f6;
}
.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}
.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}
.pro {
  text-decoration: underline;
}
.intro {
  width: 30%;
  margin: auto;
}
.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.contact-me {
  width: 40%;
  margin: 40px auto 60px;
}
.top-cloud {
  position: absolute;
  right: 300x;
  top: 40px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 250px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.adriaan-image {
  width: 25%;
}
.altumcode {
  width: 30%;
  float: left;
  margin-right: 30px;
}
.code-image {
  width: 30%;
  float: left;
  margin-right: 30px;
}
.code-skill-description {
  clear: left;
}
.btn {
  -moz-box-shadow: 0px 10px 14px -7px #276873;
  -webkit-box-shadow: 0px 10px 14px -7px #276873;
  box-shadow: 0px 10px 14px -7px #276873;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #599bb3),
    color-stop(1, #408c99)
  );
  background: -moz-linear-gradient(center top, #599bb3 5%, #408c99 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99');
  background-color: #599bb3;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-left-radius: 8px;
  text-indent: 0;
  display: inline-block;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  height: 50px;
  line-height: 50px;
  width: 140px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0px 1px 0px #3d768a;
}
.btn:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #408c99),
    color-stop(1, #599bb3)
  );
  background: -moz-linear-gradient(center top, #408c99 5%, #599bb3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3');
  background-color: #408c99;
}
.btn:active {
  position: relative;
  top: 1px;
}
